<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="dashboard.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
</script>
<style>
	.Green {
		background: #26A65B;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}

	.Amber {
		background: #EB9532;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}

	.Red {
		background: #D64541;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}
</style>
<head>
</head>
<body>
<% count = 0
	@new_hash.each do |service, status|
		count = count + 1%>
		<button type="button" class="<%=status%>" data-toggle="modal" data-target="#myModal<%=count%>">
				<div class="centreMe">
				  <div><b><%=service%></b></div>
				</div>
			</button>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
