<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<link rel="stylesheet" href="dashboard.css" type="text/css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
</script>
<style>
	.Green {
		background: #26A65B;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}

	.Amber {
		background: #EB9532;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}

	.Red {
		background: #D64541;
		width:<%= @width_value + "%;"%>
		height:<%= @height_value + "vh;"%>
		float: left;
		border: 2px solid #BDC3C7;
		position:relative;
	}
</style>
<head>
</head>
<body>
<% count = 0
	@new_hash.each do |tile_title, data|
		status = data['status']
		sub_heading_body_1 = data['sub_heading_body_1']
		sub_heading_body_2 = data['sub_heading_body_2']
		count = count + 1%>
		<button type="button" class="<%=status%>" data-toggle="modal" data-target="#myModal<%=count%>">
				<div class="centreMe">
				  <div><b><%=tile_title%></b></div>
				</div>
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal<%=count%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-xl">
					<div class="modal-content">
					  <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">x</button>
							<h4 class="modal-title" id="myModalLabel"><%=tile_title%></h4>
					  </div>
						<div class="sub-header">Sub-heading 1:</div>
					  <div class="modal-body">
							<%=sub_heading_body_1%>
					  </div>
						<div class="sub-header">Sub-heading 2:</div>
						<div class="modal-body">
							<%=sub_heading_body_2%>
						</div>
					  <div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					  </div>
					</div>
			  </div>
			</div>
<% end %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
</body>
</html>
